/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "Nobile";
  src: url("/font/nobile-medium-webfont.woff2") format("woff2"),
    url("/font/nobile-medium-webfont.woff") format("woff");
}

:root {
  /* Mode 1 */
  /* colors */
  --color-aguja: #11750f;
  --color-exhalar: #fb88ff;
  --color-fondo: #dadada;
  --color-fondo-oscuro: #4c4c4c;
  --color-inhalar: #8aff70;
  --color-letra: #0b0b0b;
  --color-mantener: #7d95ff;
  --header: #ffc77d;
  /* numbers */
  --h4: 1rem;
  --p: 1rem;
  --p-letra-rueda: 1.2rem;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--color-fondo);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & header {
    background: var(--header);
    width: 100%;
    height: 60px;
    padding: 28px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & main {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    & .empezar {
      font-size: 22px;
      color: var(--color-letra);

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    & .rueda {
      background: rgb(98, 98, 98);
      width: 323px;
      height: 323px;
      border-radius: 50%;
      position: relative;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      & .verde {
        background: var(--color-inhalar);
        border-radius: 100% 0 0 0;

        display: flex;
        align-items: end;
        justify-content: end;

        & .letra__rueda {
          display: block;
          margin: 30px;
          font-size: var(--p-letra-rueda);
        }
      }

      & .azul__derecha {
        background: var(--color-mantener);
        border-radius: 0% 100% 0 0;

        display: flex;
        align-items: end;
        justify-content: start;

        & .letra__rueda {
          display: block;
          margin: 30px;
          font-size: var(--p-letra-rueda);
        }
      }

      & .lila {
        background: var(--color-exhalar);
        border-radius: 0 0 100% 0;

        & .letra__rueda {
          display: block;
          margin: 30px;
          font-size: var(--p-letra-rueda);
        }
      }

      & .azul__izquierda {
        background: var(--color-mantener);
        border-radius: 0 0 0 100%;

        display: flex;
        align-items: start;
        justify-content: end;

        & .letra__rueda {
          display: block;
          margin: 30px;
          font-size: var(--p-letra-rueda);
        }
      }

      & .aguja {
        background: var(--color-aguja);
        position: absolute;
        height: 10px;
        width: 162px;
        bottom: 48.2%;
        left: -0.2%;
        padding: 0;
        border-radius: 5px;
      }

      & .movimiento {
        transform-origin: right;
        transform: rotate(calc(360deg * 30));
        transition: transform 300s;
        transition-timing-function: linear;
      }
    }

    /* -------------- AJUSTES ------------- */

    & .ajustes__fondos {
      background-color: var(--color-mantener);
      margin: 0 10%;
      border: solid black 2px;
      border-radius: 20px;
      font-size: var(--p-letra-rueda);

      & .titulo__fondos {
        display: flex;
        justify-content: center;
        color: var(--color-letra);
        border-bottom: solid black 2px;
      }

      & .fondos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        & .circulo__fondo {
          width: 70px;
          height: 70px;
          margin: 15px;
          border-radius: 50%;
        }

        & .gris {
          background: var(--color-fondo);
        }

        & .oscuro {
          background: var(--color-fondo-oscuro);
        }

        & .mar {
          @media (-webkit-min-device-pixel-ratio: 1) {
            background-image: url(../img/smartphone/fondo_mar\ 1.webp);
          }

          @media (-webkit-min-device-pixel-ratio: 2) {
            background-image: url(../img/smartphone/fondo_mar\ 1@2x.webp);
          }

          @media (-webkit-min-device-pixel-ratio: 3) {
            background-image: url(../img/smartphone/fondo_mar\ 1@3x.webp);
          }

          background-size: 100%;
        }

        & .cascada {
          @media (-webkit-min-device-pixel-ratio: 1) {
            background-image: url(../img/smartphone/fondo_cascada\ 1.webp);
          }

          @media (-webkit-min-device-pixel-ratio: 2) {
            background-image: url(../img/smartphone/fondo_cascada\ 1@2x.webp);
          }

          @media (-webkit-min-device-pixel-ratio: 3) {
            background-image: url(../img/smartphone/fondo_cascada\ 1@3x.webp);
          }

          background-size: 100%;
        }

        & .cielo {
          @media (-webkit-min-device-pixel-ratio: 1) {
            background-image: url(../img/smartphone/fondo_cielo\ 1.webp);
          }

          @media (-webkit-min-device-pixel-ratio: 2) {
            background-image: url(../img/smartphone/fondo_cielo\ 1@2x.webp);
          }

          @media (-webkit-min-device-pixel-ratio: 3) {
            background-image: url(../img/smartphone/fondo_cielo\ 1@3x.webp);
          }

          background-size: 100%;
        }

        & .flores {
          @media (-webkit-min-device-pixel-ratio: 1) {
            background-image: url(../img/smartphone/fondo_flores\ 1.webp);
          }

          @media (-webkit-min-device-pixel-ratio: 2) {
            background-image: url(../img/smartphone/fondo_flores\ 1@2x.webp);
          }

          @media (-webkit-min-device-pixel-ratio: 3) {
            background-image: url(../img/smartphone/fondo_flores\ 1@3x.webp);
          }

          background-size: 100%;
        }
      }
    }

    & .ajustes__alarma{

    }
  }

  footer {
    width: 100%;
    height: 40px;
    padding-left: 28px;

    & a {
      text-decoration: none;
      color: var(--color-letra);
    }
  }
}
